{% load static %}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img">

        
        <div class="footer-content-area mt-0">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="{% static 'web/logo/brothers logo.png' %}" alt="logo"> </a>
                                </div>
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ducimus voluptatibus neque illo id repellat quisquam? Autem expedita earum quae laborum ipsum ad.</p> -->
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s">
                                <h5>QUICK LINKS</h5>
                                    
                                <a href="{% url 'web:index' %}#"><p style="color:black">Home</p></a>
                                <a href="{% url 'web:aboutus' %}"><p style="color:black">About Us</p></a>
                                <a href="{% url 'web:groupofcompany' %}"><p style="color:black">Group of Companies</p></a>
                                <a href="{% url 'web:product' %}"><p style="color:black">Product</p></a>
                                <a href="{% url 'web:gallery' %}"><p style="color:black">Gallery</p></a>
                                <a href="{% url 'web:contact' %}"><p style="color:black">Contact Us</p></a>
                                
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-4 col-md-6 col-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT US</h5>
                                <p style="color:black">Brothers Complex Block Road </p>
                                <p style="color:black">9656100100</p>
                                <p style="color:black" >WhatsApp :9656100153</p>
                                <p style="color:black">brothers_cogroups@yahoo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    